@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* Colors */

    /* Primary */
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    /* Neutral */
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);


    /* Fonts */
    --Font-size: 15px;
    --font-family: 'League Spartan', sans-serif;
    --font-wght-400: 400;
    --font-wght-500: 500;
    --font-wght-700: 700;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: var(--font-family);
    
}

.bg-container {
    position: relative;
    overflow: hidden;
}

.top-svg, .bottom-svg {
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: -1; 
}

#top-left-svg {
    top: 0;
    left: 0;
}

#bottom-right-svg {
    position: absolute;
    bottom: 0;
    right: 0;
}

.container-content{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    max-width: 1200px;
    height: auto;
}

.about-rating-section{
    display: flex;
    height: 300px;
}

.about-section{
    padding: 55px;
    max-width: 50%;
}

.heading h1{
    font-weight: var(--font-wght-700);
    font-size: 55px;
    line-height: 0.8;
    color: var(--Very-Dark-Magenta);
}
.heading{
    margin-bottom: 20px;
}

.about-section-text{
    padding-right: 100px;
}
.about-section-text p{
    font-size: 16px;
    color: var(--Dark-Grayish-Magenta);
}

.rating-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
}

.rate{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 440px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--Light-Grayish-Magenta);
    margin: 10px 0;
}


.rate:nth-child(2){
    margin-left: 40px;
}

.rate:nth-child(3){
    margin-left: 80px;
}

.rate-text{
    margin-left: 20px;
    font-size: 16px;
    font-weight: var(--font-wght-700);
    color: var(--Very-Dark-Magenta);
}

.feedback-section{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
}
.feedback{
    width: 350px;
    height: 230px;
    border-radius: 10px;
    background-color: var(--Very-Dark-Magenta);
}

.feedback:nth-child(2){
    margin-top: 30px;
}

.feedback:nth-child(3){
    margin-top: 60px;
}

.name{
    color: var(--White);
    font-weight: var(--font-wght-500);
    font-size: 18px;
    margin-bottom: 5px;
}
.buyer{
    color: var(--Soft-Pink);
    font-weight: var(--font-wght-400);
}
.feedback-img-name{
    display: flex;
    align-items: center;
    
}
.feedback-text-white{
    color: var(--White);
    line-height: 1.2;
}
.feedback-img{
    padding: 25px;
}
.feedback-img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.feedback-text{
    padding: 0 30px;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

@media(max-width: 768px){
    .container-content{
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        max-width: 600px;
        height: auto;
    }
    .about-rating-section{
        flex-direction: column;
        height: auto;
    }
    .about-section{
        text-align: center;
        max-width: 100%;
    }
    .about-section-text{
        padding: 10px 0;
    }

    .rating-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
    }

    .rate{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 440px;
        height: 60px;
        border-radius: 10px;
        background-color: var(--Light-Grayish-Magenta);
        margin: 10px auto;
    }
    
    .rate:nth-child(2){
        margin-left: auto;
    }
    
    .rate:nth-child(3){
        margin-left: auto;
    }

    .stars{
        margin-bottom: 5px;
    }

    
    .feedback-section{
        display: grid;
        justify-items: center;
        align-items: center;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }
}

@media(max-width: 375px){
    .container-content{
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        max-width: 90vw;
        height: auto;
    }
    .about-section{
        padding-bottom: 30px;
    }
    .heading h1{
        font-weight: var(--font-wght-700);
        font-size: 35px;
        line-height: 0.8;
        color: var(--Very-Dark-Magenta);
    }
    .rate{
        width: 250px;
        height: 60px;
    }

    .feedback{
        width: 80vw;
        height: 230px;
        border-radius: 10px;
        background-color: var(--Very-Dark-Magenta);
    }
    
}